@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        margin-right:190px;
      
    
    }
    main{
        flex-direction: column;
    }
   
h2{
    font-size: 38px;
}
form{
    margin:0 auto;
}
input{
    align-self: center;
}

}

@media screen and (max-width: 200px){
    header{
        flex-direction: column;
        margin-right:190px; 

    }
    main{
        flex-direction: column;
    }
}
