body{
    background-color: rgb(34, 34, 34);
    color:red;
    font-family: Ghoticfont;
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 26px;
}
li{
    display:inline-block;
    margin:20px;
    font-size: large;
}
a{
    color:white;
}
a:hover{
    color:red;
    transition: 0.3s all;
}
#escreverse-btn{
    border: 2px solid red;
    border-radius: 15px;
    padding:20px;   
}
#escreverse-btn:hover{
    background-color: red;
    color:white;
}
h1{
    font-weight:200;
    font-size: 50px; 
}
spam{
    color: white;
}
main{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
spam{
    color:white;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family:sans-serif;
    color:aliceblue;
    font-weight: lighter;
}
img{
    width: 620px;
}
form{
    display:flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    
     background-color: red;
     color:white;
     height: 50px;
     width:50%;
     font-family: Ghoticfont;
     font-size: 25px;
}

form [type="submit"]:hover{
  background-color:white;
  color:red;
  transition: 0.5s all;
  cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding:15px;
    border-radius: 20px;
    border:none;
    font-size:15px;
}